requirements.R (R Equivalent of requirements.txt)


if (!requireNamespace("BiocManager", quietly = TRUE))
    install.packages("BiocManager")

packages <- c(
  "mixOmics",
  "dplyr",
  "stringr",
  "reshape2",
  "ggplot2"
)

for(pkg in packages){
  if(!requireNamespace(pkg, quietly = TRUE)){
    if(pkg == "mixOmics"){
      BiocManager::install(pkg)
    } else {
      install.packages(pkg)
    }
  }
}

